
Overtime Project/.vs/Overtime Project/v16/.suo
Overtime Project/Overtime Project/appsettings.json
Overtime Project/Overtime Project/obj/Debug/netcoreapp3.1/Overtime Project.assets.cache
Overtime Project/Overtime Project/obj/
Overtime Project/Overtime Project/bin/
Overtime Project/.vs/Overtime Project/config/applicationhost.config
Overtime Project/.vs/Overtime Project/config/applicationhost.config
