@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employee Page";
    Layout = "~/Views/Layout/EmployeeLayout.cshtml";
    var id = ViewData["token"];
    var nik = ViewData["nik"];
}
<div class="card">
    <div class="card-header">
        <h3>Overtime</h3>
    </div>
    <div>
        @*<p>@nik</p>

        <p> @id</p>*@
    </div>
    <div class="card-body">
        <div class="row">
            <div class="user">
                <div class="d-grip gap-2 col-2">
                    
                </div>
                <hr />
                <table class="table" id="employeeTableHistory">
                    <thead>
                        <tr>
                            <th>Nomor</th>
                            <th>Date Request</th>
                            <th>Date Overtime</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<!--Detail-->
<div class="modal fade" id="modalDetailEmpHistory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabelEmployee">Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="editFormDetailsEmployee" class="row needs-validation" novalidate>
                    <div class="col-md-12">
                        <label for="dayTypeDE" class="form-label">Day Type</label>
                        <input type="text" name="dayTypeDE" id="dayTypeDE" class="form-control" required readonly />
                    </div>
                    
                    <div class="col-md-12">
                        <label>Activities 1</label>
                        @*<label for="overtimeTimeDE1" class="form-label">Time</label>*@
                        <input type="text" name="overtimeTimeDE1" id="overtimeTimeDE1" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        @*<label for="overtimeReportDE1" class="form-label">Overtime Report</label>*@
                        <input type="text" name="overtimeReportDE1" id="overtimeReportDE1" class="form-control" required readonly />
                    </div>
                    
                    <div class="col-md-12">
                        <label>Activities 2</label>
                        @*<label for="overtimeTimeDE2" class="form-label">Time</label>*@
                        <input type="text" name="overtimeTimeDE2" id="overtimeTimeDE2" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        @*<label for="overtimeReportDE2" class="form-label">Overtime Report</label>*@
                        <input type="text" name="overtimeReportDE2" id="overtimeReportDE2" class="form-control" required readonly />
                    </div>
                    
                    <div class="col-md-12">
                        <label>Activities 3</label>
                        @*<label for="overtimeTimeDE3" class="form-label">Time</label>*@
                        <input type="text" name="overtimeTimeDE3" id="overtimeTimeDE3" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        @*<label for="overtimeReportDE3" class="form-label">Overtime Report</label>*@
                        <input type="text" name="overtimeReportDE3" id="overtimeReportDE3" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        <label for="validationDescDE" class="form-label">Validation Description</label>
                        <input type="text" name="validationDescDE" id="validationDescDE" class="form-control" required readonly />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/EmployeeHistory.js"></script>
}