@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Profile page";
    Layout = "~/Views/Layout/HeadLayout.cshtml";
}
<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-7 align-self-center">
                <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">My Profile</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0 p-0">
                            <li class="breadcrumb-item">
                                <a id="btnChangePass" href="#">Change Password</a>
                            </li>
                            @*<li class="breadcrumb-item active">
                                    <a href="#">Your Account</a>
                                </li>*@
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- *************************************************************** -->
        <div class="card">
            @*<div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg" class="rounded-circle img-thumbnail" style="max-width:20%">
                    </div>
                </div>*@
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-8">
                            <h6 class="heading-small text-muted mb-4">Employee information</h6>
                        </div>
                        @*<div class="col-4 text-right">
                                <a href="#!" class="btn btn-primary" onclick="EditProfile()"><i class="icon-pencil"></i> Edit Profile</a>
                            </div>*@
                    </div>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12 userId">
                                <div class="form-group focused account-id">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group focused fname">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group focused lname">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group focused bDate">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group genderUser">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group focused addrs">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <!-- Contact Info -->
                    <h6 class="heading-small text-muted mb-4">Contact information</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group focused emailAddrs">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group focused contactPhone">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <!-- Department Info -->
                    <h6 class="heading-small text-muted mb-4">Salary</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group focused departmentName">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right btnFinishEdit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>

<!--CHANGE PASS-->
<div class="modal fade" id="editModalPass" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleInsertModalLabelHead">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="editFormPass" class="row needs-validation" novalidate>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="passHead" class="form-label">Password</label>
                            <input type="text" class="form-control" id="passHead" required>
                            <div class="invalid-feedback">
                                Required!
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label for="passHeadNew" class="form-label">New Password</label>
                            <input type="text" class="form-control" id="passHeadNew" required>
                            <div class="invalid-feedback">
                                Required!
                            </div>
                        </div>
                        @*<div class="col-md-6">
                                <label for="statusE" class="form-label">Approval Action</label>
                                <select name="university" id="statusE" class="form-select" required>
                                    <option value="">Select Action</option>
                                    <option value="2">Validated</option>
                                    <option value="3">Rejected</option>
                                </select>
                                <div class="invalid-feedback">
                                    Required!
                                </div>
                            </div>*@
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                        @*<input type="submit" value="Submit" name="Submit" id="validated" class="btn btn-success" />*@
                        <input type="submit" value="Save Changes" name="Save Changes" id="saveChanges" class="btn btn-primary" />
                        @*<input type="submit" value="Validated" name="Validated" id="validated" onclick="valid()" class="btn btn-success" />*@
                        @*<input type="submit" value="Validated" name="Validated" id="validated" class="btn btn-success" />*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
@section Scripts{
    <script src="~/js/HeadProfile.js"></script>
    <script src="~/js/Head.js"></script>
}