@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Head Page";
    Layout = "~/Views/Layout/HeadLayout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3>Overtime Employee</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="user">
                <table class="table" id="headOvertimeTable">
                    <thead>
                        <tr>
                            <th>Nomor</th>
                            <th>Date Request</th>
                            <th>NIK</th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<!--Modal DATA TABLES DETAILS-->
<div class="modal fade" id="modalDetailHead" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Approval</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="editFormDetailsHead" class="row needs-validation" novalidate>
                    @*<div class="row detailBody">

        </div>*@
                    <div class="col-md-6">
                        <label for="dayTypeD" class="form-label">Day Type</label>
                        <input type="text" name="dayTypeD" id="dayTypeD" class="form-control" required readonly />
                    </div>
                    <div class="col-md-6">
                        <label for="paymentD" class="form-label">Payment</label>
                        <input type="text" name="paymentD" id="paymentD" class="form-control" required readonly />
                    </div>
                    <div class="col-md-6">
                        <label for="emailD" class="form-label">Email</label>
                        <input type="email" name="emailD" id="emailD" class="form-control" required readonly />
                    </div>
                    <div class="col-md-6">
                        <label for="phoneD" class="form-label">Phone</label>
                        <input type="text" name="phoneD" id="phoneD" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        <label for="startTimeD" class="form-label">Date Overtime</label>
                        <input type="text" name="startTimeD" id="startTimeD" class="form-control" required readonly />
                    </div>
                    @*<div class="col-md-12">
                        <label for="endTimeD" class="form-label">Time</label>
                        <input type="text" name="endTimeD" id="endTimeD" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        <label for="overtimeReportD" class="form-label">Overtime Report</label>
                        <input type="text" name="overtimeReportD" id="overtimeReportD" class="form-control" required readonly />
                    </div>*@

                    <div class="col-md-12">
                        <label>Activities 1</label>
                        @*<label for="overtimeTimeDE1" class="form-label">Time</label>*@
                        <input type="text" name="overtimeTimeDE1" id="overtimeTimeDE1" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        @*<label for="overtimeReportDE1" class="form-label">Overtime Report</label>*@
                        <input type="text" name="overtimeReportDE1" id="overtimeReportDE1" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        <label>Activities 2</label>
                        @*<label for="overtimeTimeDE2" class="form-label">Time</label>*@
                        <input type="text" name="overtimeTimeDE2" id="overtimeTimeDE2" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        @*<label for="overtimeReportDE2" class="form-label">Overtime Report</label>*@
                        <input type="text" name="overtimeReportDE2" id="overtimeReportDE2" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        <label>Activities 3</label>
                        @*<label for="overtimeTimeDE3" class="form-label">Time</label>*@
                        <input type="text" name="overtimeTimeDE3" id="overtimeTimeDE3" class="form-control" required readonly />
                    </div>
                    <div class="col-md-12">
                        @*<label for="overtimeReportDE3" class="form-label">Overtime Report</label>*@
                        <input type="text" name="overtimeReportDE3" id="overtimeReportDE3" class="form-control" required readonly />
                    </div>

                    <div class="col-md-12">
                        <label for="validationD" class="form-label">Validation Description</label>
                        <input type="text" name="validationD" id="validationD" class="form-control" required readonly />
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal DATA TABLES EDIT-->
<div class="modal fade" id="editModalHead" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleInsertModalLabelHead">Approval</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="editFormHead" class="row needs-validation" novalidate>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="descHeadE" class="form-label">Validation Description</label>
                            <textarea class="form-control" id="descHeadE" required></textarea>
                            <div class="invalid-feedback">
                                Required!
                            </div>
                        </div>
                        @*<div class="col-md-6">
                            <label for="statusE" class="form-label">Approval Action</label>
                            <select name="university" id="statusE" class="form-select" required>
                                <option value="">Select Action</option>
                                <option value="2">Validated</option>
                                <option value="3">Rejected</option>
                            </select>
                            <div class="invalid-feedback">
                                Required!
                            </div>
                        </div>*@
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>*@
                        @*<input type="submit" value="Submit" name="Submit" id="validated" class="btn btn-success" />*@
                        <input type="submit" value="Rejected" name="Rejected" id="rejected"  class="btn btn-danger" />
                        @*<input type="submit" value="Validated" name="Validated" id="validated" onclick="valid()" class="btn btn-success" />*@
                        <input type="submit" value="Validated" name="Validated" id="validated" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Head.js"></script>
}