@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Head Page";
    Layout = "~/Views/Layout/DashboardLayout.cshtml";
}

<h3>Overtime Employee</h3>

<table class="table" id="headTable">
    <thead>
        <tr>
            <th>Nomor</th>
            <th>NIK</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Date Request</th>
            <th>Action</th>
            <th>Status</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/Head.js"></script>
}